ul.microposts {
	padding: 0;

	li{
	list-style-type: none;
	}
}

.alert-error {
	color: #a94442;
	background-color: #f2dede;
	background-color: #ebccd1;
}

.avatar{
	margin-top: 16px;
}

ul.users {
	list-style: none;
	padding: 0;

	li {
		border-top: 1px solid lightgrey;
		padding: 10px 0;
		

		&:last-child {
			border-bottom: 1px solid lightgrey;
		}
	}
}
.timestamp{
	color: #A9A9A9;
}
.micropost form textarea {
	width: 100%;
	max-width: 100%;
}
.bar{
	border-top: 1px solid lightgrey;
	padding: 8px 0;
	p {
		margin: 0;
	}
}
div.left{
	margin: 0;

}


